#antreLogo {
  width: 25vw;
  padding: 20px 0;
}

#loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formInput {
  margin: 0 5px 0 5px;
  background-color: #f7f7f7;
  margin-bottom: 10px !important;
}

#create {
  text-align: center;
  color: black;
  padding-top: 35px;
  font-size: 16px;
}

#create:hover {
  color: rgb(143, 143, 143);
  text-decoration: underline;
}

#disclaimer {
  position: relative;     
  text-align: center;    
  bottom: 0px; 
  width: 100%;
  color: var(--foreground);
  opacity: 0.5;
  margin-top: 30px;
  bottom: 0%;
}

#disclaimerLink {
  color: var(--luck);
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 1382px) {
  #antreLogo {
    width: 40vw;
  }
}

@media screen and (max-width: 992px) {
  #antreLogo {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  #antreLogo {
    width: 50vw;
  }
}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {
  #antreLogo {
    width: 60vw;
  }
}
