.wrapper {
    width: 50vw;
    max-height: 85vh;
    background-color: var(--foreground);
    padding: 20px;
    margin: 2.5% auto;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#login, #createAccount {
    width: 25vw;
}

#selectCharacter, #createCharacter, #main {
    width: 40vw;
}