.wrapper, #inventoryModal {
    width: 50vw;
    background-color: var(--foreground);
    padding: 20px;
    margin: 2.5% auto;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#login, #createAccount {
    width: 25vw;
}

#selectCharacter, #createCharacter, #main {
    width: 40vw;
}

#inventoryModal {
    width: 25vw;
    text-align: left;
    align-items: unset;
}

@media screen and (max-width: 1382px) {
    #login, #createAccount {
        width: 40%;
    }
    #selectCharacter {
        width: 50vw;
    }
}

@media screen and (max-width: 992px) {
    #login, #createAccount, #createCharacter {
        width: 65%;
    }
    #selectCharacter {
        width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    #login, #createAccount, #createCharacter {
        padding: 15px;
    }
    #selectCharacter {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    #selectCharacter, #createCharacter {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #login, #createAccount {
        width: 80%;
    }
    #selectCharacter, #createCharacter {
        width: 100%;
    }
}
