.wrapper {
    height: auto;
    width: 60vw;
    background-color: var(--foreground);
    padding: 50px;
    margin: 0 auto;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}