.appWrapper {
  background-color: #282c34;
  min-height: 80vh; /* vh is relative to the viewport */
  min-width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  text-align: center;

}