.appWrapper {
  background-color: #282c34;
  min-height: 80vh; /* vh is relative to the viewport */
  min-width: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  position: relative;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  animation: fadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
  0% {
    display: "flex";
    transform: scale(0);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}