#optionArea .infoIcon {
    position: absolute;
    top: -17%;
}

#optionArea #dialog {
    z-index: 4;
    top: -320%;
    right: 50%;
}

.hidden {
    visibility: hidden;
}

.choiceButton {
	display: flex;
	flex-direction: column;
}

.extraText {
	height: min-content;
	margin: 0;
	width: 100%;
}