#formWrapper {
    display: flex;
    flex-direction: column;
    margin: 5vh 25% 0 25%;
}

.MuiInputBase-input, .MuiSelect-root {
    font-weight: bold !important;
}

#human:hover, #elf:hover, #dwarf:hover, #warrior:hover, #rogue:hover, #paladin:hover {
    font-weight: bold;
}

#classDescription {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

#stats {
    width: 25vh;
}

#desAndSkill {
    margin-left: 40px;
    width: 70vh;
}

#desAndSkill, #skill {
    text-align: left;
    padding: 5px;
}

#skillName {
    margin-block-end: 0;
    text-decoration: underline;
}