#logoutButton {
    position: absolute;
    left: 35%;
    top: 3%;
}

#allCharacters, #creatorWrapper {
    margin: 5vh auto;
    width: 40%;
}

#creatorWrapper {
    justify-content: space-evenly;
}

#createNew {
    margin: auto 0;
}

.MuiSvgIcon-root {
    font-size: 2.5rem !important;
}

.MuiIconButton-root {
    padding: 0px !important;
}

#smallLogo {
    bottom: 5%;
}