#selectCharacter .title {
    margin-right: 11vw !important;
}

#creatorWrapper {
    margin: 5vh auto;
}

#creatorWrapper {
    justify-content: space-evenly;
    width: 29vw;
}

#createNew {
    margin: auto 0;
}

.MuiSvgIcon-root {
    font-size: 2.5rem !important;
}

.MuiIconButton-root {
    padding: 0px !important;
}

#smallLogo {
    bottom: 5%;
}

@media screen and (max-width: 1382px) {
    #selectCharacter .title {
        margin-right: 13vw !important;
    }
}

@media screen and (max-width: 992px) {
    .topRow {
        padding: 0;
        justify-content: flex-start !important;
    }
    #selectCharacter .title {
        margin-left: 9vw !important;
    }
}

@media screen and (max-width: 768px) {
    #selectCharacter .title {
        margin-left: 11vw !important;
    }
    #smallLogo {
        margin: 0;
        width: 25vw !important;
    }
}

@media screen and (max-width: 600px) {
    #creatorWrapper {
        width: 50vw;
        margin-bottom: 3vh;
    }
    #selectCharacter .title {
        margin-left: 10vw !important;
        margin-right: 15vw !important;
    }
}

@media screen and (max-width: 480px) {
    #logout {
        width: 20vw;
    }
    #selectCharacter .title {
        margin-left: 0 !important;
    }
}