.decisionWrapper {
    height: auto;
    min-width: 60vh;
    background-color: #f7f7f7;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
}

.Typewriter {
    margin-top: 50px;
    border: 2px solid black;
    width: 60vh;
    text-align: left;
    padding: 50px;
    min-height: 15vh;
}

#optionArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 60vh;
    padding: 50px;
}

.options {
    padding: 20px;
    visibility: hidden;
}

.options button {
    padding: 20px;
    width: 120px;
    height: 80px;
}

#footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vh;
}

.fadeIn {
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: fadeOut 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#enemyBlock {
    max-width: 280px;
    margin: 0 25% 0 25%;
}

#enemyImage {
    max-width: 50vh;
    max-height: 50vh;
    margin-top: 10%;
}

.healthArea {
    border: 2px solid black;
    border-radius: 5px;
    height: 20px;
    position: relative;
}

#enemyBar, #userBar {
    height: 20px;
    position: absolute;
    bottom: 0%;
}

#enemyBar {
    background-color: darkred;
}

#userBar {
    background-color: darkgreen;
}

.healthText {
    position: absolute;
    bottom: 0%;
    left: 43%;
    z-index: 2;
}

#charName {
    margin-top: 50px;
}

#inventory, #save {
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}