#transition-modal-title, #statsTitle {
    text-align: center;
    text-decoration: underline;
}

#all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50vh;
}

.items, .attributes {
    padding: 10px;
}

.attributes {
    text-align: center;
}

.icon {
    max-width: 4vh;
}

#weapon, #head, #chest, #legs, #hands, #feet, #torch, #amulet, #healthPotion, #gold {
    display: flex;
}

#all section div div {
    margin-left: 10px;
}

#torch .icon {
    max-width: 3vh;
    margin-right: 5px;
}