#left, #right {
  align-self: center;
}

/* Stats */
#strength {
  color: var(--strength);
}

#defense {
  color: var(--defense);
}

#wisdom {
  color: var(--wisdom);
}

#luck {
  color: var(--luck);
}

#strength, #defense, #wisdom, #luck, .topStat, .bottomStat, #topMisc, #bottomMisc, #inventoryModal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2px;
}

#statsBlock .infoIcon {
    position: absolute;
    top: 17%;
    left: 31%;
}

#dialog {
    z-index: 4;
    top: -15%;
    right: 65%;
}

/* Misc items */
#top, #bottom {
  align-items: flex-end;
  justify-content: space-between;
}

.icon {
  max-width: 15vh;
  text-align: center;
  width: 100%;
  margin: 5px;
}

#torch .icon {
  margin-left: 35px;
  width: 8vh;
}

#torch .iconText {
  margin-left: 20px;
}

.iconText {
  width: auto;
  text-align: center;
}

.equipmentIcon {
  max-width: 5vh;
}

.key {
  text-decoration: underline;
}

#weapon, #head, #chest, #hands, #legs, #feet {
  display: flex;
  flex-direction: row;
}

.invText {
  margin: 0 0 15px 5px;
}
