#formWrapper {
    display: flex;
    flex-direction: column;
    margin: 5vh 25% 0 25%;
}

.MuiInputBase-input, .MuiSelect-root {
    font-weight: bold !important;
}

#human:hover, #elf:hover, #dwarf:hover, #warrior:hover, #rogue:hover, #paladin:hover {
    font-weight: bold;
}

#classDescription {
    font-size: 16px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

#stats {
    width: 25vh;
}

#desAndSkill {
    margin-left: 40px;
    width: 70vh;
}

#desAndSkill, #skill {
    text-align: left;
    padding: 5px;
}

#skillName {
    margin-block-end: 0;
    text-decoration: underline;
}

@media screen and (max-width: 1382px) {

}

@media screen and (max-width: 992px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {
    #createCharacter .topRow {
        width: 100%;
        padding: 0 !important;
    }
    #createCharacter .title {
        margin: 30px 10px 30px 10px;
    }
    #createCharacter #back {
        align-self: center;
    }
    #formWrapper {
        margin: 0 5% 0 5%;
        align-items: center;
    }
    .formInput {
        width: 195px !important;
    }
    #classDescription {
        width: 100%;
    }
    #desAndSkill {
        margin-left: 5px;
    }
    .createSuccess {
        width: 78vw !important;
    }
}