#allCharacters {
    width: 35vw;
    margin: 5vh auto;
}

/* This block wraps the entire section, so we can have the PLAY/DELETE buttons out of the wrapper */
.characterBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

/* Wraps the identity, stats and level/time sections. */
.characterWrapper {
    width: 500px;
    display: flex;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
}

.identity {
    padding: 4px 10px 4px 2px;
    text-align: left;
    width: 20%;
}

.raceAndClass, .stats, .levelAndTime {
    display: flex;
}

.race {
    padding-right: 4px;
}

.class {
    align-self: flex-end;
}

.stats {
    padding: 4px;
}

/* have to specifiy section here so it doesnt affect CreateCharacter screen */
section.health, section.strength, section.defense, section.wisdom, section.luck {
    display: flex;
    flex-direction: column;
    border-right: 1px solid black;
    padding: 4px;
}

section.health {
    border-left: 1px solid black;
}

.subHeadings {
    text-decoration: underline;
}

.levelAndTime {
    width: 210px;
    justify-content: space-between;
}

.level {
    flex-grow: 1;
}

.time {
    width: 70px;
}

.charButtons {
    display: flex !important;
    flex-direction: column;
    padding: 4px;
}

#play, #delete {
    margin: 2px;
}

@media screen and (max-width: 1382px) {
    #allCharacters {
        width: 50vw;
    }
}

@media screen and (max-width: 992px) {
    #allCharacters {
        width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    #allCharacters {
        width: 85vw;
    }
}

@media screen and (max-width: 600px) {
    #allCharacters {
        width: 100vw;
        margin: 0;
    }
    .characterBlock {
        width: 100%;
        flex-wrap: wrap;
    }
    .charButtons {
        flex-direction: row;
        padding: 0;
    }
    #play, #delete {
        width: 35vw;
    }
}

@media screen and (max-width: 480px) {
    .characterWrapper {
        width: 460px;
    }
    .raceAndClass {
        display: flex;
        flex-direction: column;
    }
}
