.section {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.images {
    width: 8%;
    padding: 5px;
    margin: 5px;
    opacity: 1;
}

.imageSection {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    text-decoration: underline;
}