#createAccount .title {
    margin-left: 5.5vw !important;
}

#createAccountForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 15% 25% 10% 25%;
}

.formInput, #submit {
    margin-top: 10px !important;
}
