#back {
    text-align: center;
    color: black;
    position: absolute;
    left: 60%;
    top: 6%;
    z-index: 2;
}  

#back:hover {
    color: rgb(143, 143, 143);
    text-decoration: underline;
}

#title {
    font-size: 30px;
}

#createAccountForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 15% 25% 10% 25%;
}

.formInput, #submit {
    margin-top: 10px !important;
}

#smallLogo {
    margin-top: 10px;
    width: 15vh;
    align-self: center;
}