#createAccount .title {
    margin-left: 5.5vw;
}

#createAccountForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin: 15% 25% 10% 25%;
}

.formInput, #submit {
    margin-top: 10px !important;
}

@media screen and (max-width: 1382px) {
    #createAccount .title {
        margin-left: 9.5vw;
    }
}

@media screen and (max-width: 992px) {
    #createAccount .title {
        margin-left: 18.5vw;
    }
}

@media screen and (max-width: 768px) {
    #createAccount .title {
        margin-left: 14.5vw;
    }
}

@media screen and (max-width: 600px) {
    #createAccount .topRow {
        justify-content: flex-end !important;
    }

    #createAccount .title {
        margin-right: 4vw;
    }
}

@media screen and (max-width: 480px) {
    #createAccount .title {
        margin: 8vw 0 0 8vw;
    }

    #back {
        align-self: flex-start;
        padding: 5px;
    }
}