.wrapper, #inventoryModal, #creditsModal {
    width: 50vw;
    background-color: var(--foreground);
    padding: 20px;
    margin: 2.5% auto;
    border-radius: 10px;
    text-align: center;
    align-items: center;
    animation: fadeIn 0.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#login, #createAccount {
    width: 25vw;
}

#selectCharacter, #createCharacter, #main {
    width: 40vw;
}

#inventoryModal {
    width: 25vw;
    text-align: left;
    align-items: unset;
}

@media screen and (max-width: 1382px) {
    #login, #createAccount, #main {
        width: 40%;
    }
    #selectCharacter {
        width: 57vw;
    }
}

@media screen and (max-width: 992px) {
    #login, #createAccount, #createCharacter, #main {
        width: 65%;
    }
    #selectCharacter {
        width: 70vw;
    }
}

@media screen and (max-width: 768px) {
    #login, #createAccount, #createCharacter  {
        padding: 15px;
    }
    #selectCharacter {
        width: 90%;
    }
    #main {
        width: 75%;
    }
    #disclaimer {
        font-size: 10pt;
    }
}

@media screen and (max-width: 600px) {
    #selectCharacter, #createCharacter, #main  {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .wrapper {
        padding: 20px 0 0 0;
    }
    #login, #createAccount {
        width: 80%;
    }
    #selectCharacter, #createCharacter, #main {
        width: 100%;
    }
    #main {
        margin: 0;
    }
}
