#speedButton {
    left: 24.5%;
	color: var(--primary)
}

.MuiMenu-paper {
    padding: 3px 13px 3px 13px;
}

.Typewriter {
    margin: 0 auto 0 auto;
    border: 2px solid black;
    width: 30vw;
    text-align: left;
    padding: 50px;
    min-height: 15vh;
    border-radius: 10px;
}

#optionArea {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    justify-content: space-evenly;
    width: 25vw;
    padding: 15px;
}

.options {
    padding: 20px;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 auto 0 auto
}

.options button {
    padding: 20px;
    width: 150px;
    height: 80px;
}

#footer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.fadeIn {
    animation: fadeIn 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.fadeOut {
    animation: fadeOut 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

#enemyBlock {
    width: 20vw;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px auto 0 auto;
}

#enemyImage {
    width: 15vw;
    margin-top: 10%;
}

.healthArea {
    border: 2px solid black;
    border-radius: 5px;
    height: 20px;
    position: relative;
}

#enemyBar, #userBar {
    height: 20px;
    position: absolute;
    bottom: 0%;
}

#enemyBar {
    background-color: darkred;
}

#userBar {
    background-color: darkgreen;
}

.healthText {
    position: absolute;
    bottom: 0%;
    left: 43%;
    z-index: 2;
}

#charName {
    margin-top: 50px;
}

#attackText {
    max-width: 40vh;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px auto 0 auto;
    border: 2px solid black;
    padding: 20px;
}

#inventory, #save {
    width: 200px;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

@media screen and (max-width: 1382px) {
    #optionArea {
        width: 35vw
    }
    #enemyImage {
        width: 20vw;
    }
}

@media screen and (max-width: 992px) {
    #smallLogo {
        width: 10vw;
    }
    .Typewriter {
        width: 55vw;
        padding: 25px;
    }
    #optionArea {
        width: 50vw
    }
    #enemyBlock {
        width: 40vw;
    }
    #enemyImage {
        width: 35vw;
    }
}

@media screen and (max-width: 768px) {
    #main .topRow {
        width: 100%;
        padding: 0;
    }
    #main .topRow #back {
        align-self: center;
    }
    .Typewriter {
        width: 65vw;
        padding: 25px;
    }
    .saveSuccess {
        top: 70vh !important;
        right: 0 !important;
        left: 0 !important;
        align-items: center;
        justify-content: center !important;
        width: 100% !important;
    }
    #enemyImage {
        margin-top: 5%;
    }
}

@media screen and (max-width: 600px) {
    .Typewriter {
        width: 80vw;
        padding: 25px;
    }
    #optionArea {
        width: 90vw;
    }
    #enemyBlock {
        width: 55vw;
    }
    #enemyImage {
        width: 50vw;
    }
}

@media screen and (max-width: 480px) {
    #optionArea {
        width: 90vw;
    }
    .options {
        padding: 5px;
    }
    #saveSuccess {
        width: 100%;
    }
    #enemyBlock {
        width: 80vw;
    }
    #enemyImage {
        width: 60vw;
    }
}