.loginWrapper {
  animation: fadeIn 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#antreLogo {
  height: 80vmin;
  min-width: 60vh;
  background-color: #f7f7f7;
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  position: relative;
}

#login {
  position: absolute;
  bottom: 10%;
  left: 29%;
  display: flex;
  flex-direction: column;
}
  
.formInput {
  margin: 0 5px 0 5px;
  background-color: #f7f7f7;
  margin-bottom: 10px !important;
}

#create {
  text-align: center;
  color: black;
  padding-top: 35px;
  font-size: 16px;
}

#create:hover {
  color: rgb(143, 143, 143);
  text-decoration: underline;
}