:root {
  --background:  #282c34;
  --foreground:  #f7f7f7;
  --info: lightskyblue;
  --strength: darkred;
  --defense: darkgreen;
  --wisdom: darkblue;
  --luck: goldenrod;
  --primary: rgb(43, 89, 129);
  --secondary: darkred;
  --choice: darkgoldenrod;
}

body {
  margin: auto;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Signika', sans-serif !important;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  cursor: pointer;
}

.MuiDivider-root {
  height: 2px !important;
  background-color: var(--background) !important;
  margin: 10px !important;
}

.MuiDivider-vertical {
  width: 2px !important;
  height: auto !important;
  margin-top: 80px !important;
}

.topRow {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 15px;
  padding-left: 15px;
}


.title {
  font-size: 30px;
  margin: 30px 30px;
  text-align: center;
}

#logout {
  height: 50%;
}

#back {
  text-align: center;
  color: black;
}  

#back:hover {
  color: rgb(143, 143, 143);
  text-decoration: underline;
}

#smallLogo {
  margin-top: 15px;
  width: 5vw;
  align-self: center;
}

.strength {
  color: var(--strength);
}

.defense {
  color: var(--defense);
}

.wisdom {
  color: var(--wisdom);
}

.luck {
  color: var(--luck);
}

.primaryButton, .MuiAlert-filledInfo {
	background-color: var(--primary) !important;
}

.primaryButton.Mui-disabled {
	opacity: 0.5;
	color: white !important;
}

.secondaryButton, .MuiAlert-filledError {
	background-color: var(--secondary) !important;
}

.secondaryButton.Mui-disabled {
	opacity: 0.5;
}

.choiceButton {
	background-color: var(--choice) !important;
	color: black !important;
	font-weight: bold !important;
}

.choiceButton.Mui-disabled {
	color: black !important;
	font-weight: bold !important;
	opacity: 0.5;
}

/* focused input boxes */
.Mui-focused, .primaryOutlinedButton {
	color: var(--primary) !important;
	border-color: var(--primary) !important;
	background-color: var(--foreground);
}

.Mui-focused {
	color: var(--background) !important;
}

@keyframes fadeIn {
  0% {
    visibility: visible;
    display: flex;
    transform: scale(0);
  }

  100% {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    visibility: visible;
    display: flex;
    transform: scale(1);
  }

  100% {
    visibility: hidden;
    display: none;
    opacity: 0;
    transform: scale(0);
  }
}

.Typewriter, #dialog, #inventoryPopup {
  white-space: pre-line;
}

#dialog {
	background-color: var(--foreground);
	padding: 2em;
}

#creditsModal {
	background-color: var(--foreground);
}

/* Alert */
.MuiCollapse-root {
	position: absolute;
	top: 25%;
	left: -30%;
}

/* Scrollbar */
/* Chrome */
::-webkit-scrollbar {
  width: 1em;
}

::-webkit-scrollbar-track {
  background: var(--background);
}

::-webkit-scrollbar-thumb {
  background: var(--foreground);
  border: .25em solid var(--background);
  border-radius: 0 100vw 100vw 0;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(168, 168, 168);
}

::-webkit-scrollbar-thumb:active {
  background: rgb(107, 107, 107);
}

/* Firefox */
@supports (scrollbar-color: red blue) {
  * {
    scrollbar-color: var(--foreground) var(--background);
    scrollbar-width: thin;
  }
}